 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 	    <a class="navbar-brand"><%= image_tag("logo.png", :alt => "rss feed") %></a>
	  </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="list"><%= link_to "HOME", root_path %></a> &nbsp;
        <li class="list"><a href="#">LATEST OFFERS</a></li> &nbsp;
        <li class="list"><a href="#">HOT PICKS</li></a> &nbsp;
        <li class="list"><a href="#">TRENDING NOW</li></a> &nbsp;
        <li class="list"><a href="#">A-Z LIST</li></a> &nbsp;
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
      	<li class="list"><%= link_to "Julia", users_path %></li>
        <li class="list"><a href="#">10 chomps</a></li>
      	<li class="list"><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
      <% else %>  

        <li class="list"><%= link_to "Facebook Sign In", "/auth/facebook", id: "sign_in" %></li>          
          <% if Clearance.configuration.allow_sign_up? %>
        <li class="list"><%= link_to t(".sign_up"), sign_up_path %></li>
          <% end %>
      <% end %>
      

      </ul>
    </div>
  </div>
</nav>

          